  <div class="topnav" id="myTopnav">
  <a href="/employee/" class="">Add</a>
        <a href="/employee/list" class="">View</a> 
        <a href="/employee/addRent" class="">AddLori Rent</a>
        <a href="/employee/viewRent" class="">View Rent</a>
        <a href="/employee/individual" class="">Individual</a>
        <a href="/employee/account" class="">Account</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

    <div id="About" class="tabcontent">
        <div id="regForm">
            <h1>Attendance</h1>
            <br>
            <br>
            <!-- One "tab" for each step in the form: -->
            <a class="btn button btn-primary" style="width: 100%;" href="/employee/addEmp">Add worker or edit worker</a>
            <br>
             <br> <br>
            <a class="btn button btn-primary" style="width: 100%;" href="/employee/addAttend">Mark Leave</a>
            <br>
             <br> <br>

                <a class="btn button btn-primary" style="width: 100%;" href="/employee/accountlist">View attendance</a>

                <br>
                <br> 
                <br>  <a class="btn button btn-primary" style="width: 100%;" href="/employee/userSignup">Add user</a>
                    <br>
                <br> 
                <br>  <a class="btn button btn-primary" style="width: 100%;" href="/employee/change">Change market</a>

     <br>
                <br> 
                <br>  <a class="btn button btn-primary" style="width: 100%;" href="/userLogin">Logout</a>


         </div>
            <!-- Circles which indicates the steps of the form: -->

      
    </div>