
   <section class="banner" role="banner">
    <header id="header">
        <div class="header-content clearfix">
            <a class="logo" href="#"><img src="/public/images/keloth.png" alt=""></a>
            <nav class="navigation" role="navigation">
                <ul class="primary-nav">
                    <li><a href="#header">Home</a></li>
                    <li><a href="#features">Service</a></li>
                    <li><a href="#works">Gallery</a></li>
                    <li><a href="#teams">Company</a></li>
                    <li><a href="#download">Contact</a></li>
                    <li><a href="/userLogin">Management</a></li>

                </ul>
            </nav>
            <a href="#" class="nav-toggle" style="z-index: 999;">Menu<span></span></a>
        </div>
        <!-- header content -->
    </header>
    <!-- header -->
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="banner-text text-center">
                <h1>Your Favourite Place To have satisified deal</h1>
                <p>We Keloth Huller ensures you valuavble service and deals with an effective cost contact us to know more.</p>
                <a href="tel:+919448520062" class="btn btn-large">Contact us</a>
            </div>
            <!-- banner text -->
        </div>
    </div>

</section>
<table class="table-100">
    <tr>
        <th class="">
            <h5>coffiee</h5>
        </th>
        <th>
            <h5>pepper</h5>
        </th>
        <th>
            <h5>Ginger</h5>
        </th>
    </tr>
    <tr>
        <td>
            <h4>+32</h4>
        </td>
        <td>
            <h4>+23</h4>
        </td>
        <td>
            <h4>-232</h4>
        </td>
    </tr>
</table>
<!-- banner -->
<section id="features" class="features section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 feature text-center">
                <img class="icon logos" src="/public/images/transportation.jpg"></img>
                <div class="feature-content">
                    <h5>Transportation Service</h5>
                    <p>We do goods transportation in an effective way with available pickup ,Eicher and 10 wheel.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 feature text-center">
                <img class="icon logos" src="/public/images/coffeebeans.jpg"></img>
                <div class="feature-content">
                    <h5>Coffiee Curring work</h5>
                    <p>We are 18 year experienced firm which has huge trust and quality working process .</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 feature text-center">
                <img class="icon logos" src="/public/images/ctree.jpg"></img>
                <div class="feature-content">
                    <h5>Coffiee Related Business</h5>
                    <p>Whether to buy or sell we assure the good price for your crop in the market .</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- features -->

<section id="works" class="works section no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-md-6 col-sm-6 work">
                <a href="/public/images/curring.jpg" class="work-box">
                    <img src="/public/images/curring.jpg" class="gallery" alt="">
                    <div class="overlay gallery">
                        <div class="overlay-caption">
                            <h5>Coffiee Curring</h5>
                            <p>The process</p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 work">
                <a href="/public/images/coffieebulk.jpeg" class="work-box">
                    <img src="/public/images/coffieebulk.jpeg" class="gallery" alt="">
                    <div class="overlay gallery">
                        <div class="overlay-caption">
                            <h5>Coffiee</h5>
                            <p>good quality </p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 work">
                <a href="/public/images/blackpepper.jpg" class="work-box">
                    <img src="/public/images/blackpepper.jpg" class="gallery" alt="">
                    <div class="overlay gallery">
                        <div class="overlay-caption">
                            <h5>Pepper</h5>
                            <p>Black pepper</p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 work">
                <a href="/public/images/curring.jpg" class="work-box">
                    <img src="/public/images/curring.jpg" class="gallery" alt="">
                    <div class="overlay gallery">
                        <div class="overlay-caption">
                            <h5>Firm</h5>
                            <p>Curring firm</p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 work">
                <a href="/public/images/ginger.jpg" class="work-box">
                    <img src="/public/images/ginger.jpg" class="gallery" alt="">
                    <div class="overlay gallery">
                        <div class="overlay-caption">
                            <h5>Ginger</h5>
                            <p>Good quality</p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 work">
                <a href="/public/css/storage.jpg" class="work-box">
                    <img src="/public/images/storage.jpg" class="gallery" alt="">
                    <div class="overlay gallery">
                        <div class="overlay-caption">
                            <h5>Storage</h5>
                            <p>Godown</p>
                        </div>
                    </div>
                    <!-- overlay -->
                </a>
            </div>

        </div>
    </div>
</section>
<!-- works -->

<section id="teams" class="section teams">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="/public/images/haris.jpg" alt="Founder image" class="img-responsive">
                    <div class="person-content">
                        <h4>Haris Keloth</h4>
                        <h5 class="role">Founder, CEO</h5>
                        <p>Financial advicer,<br> +919448520062.
                        </p>
                    </div>
                    <ul class="social-icons clearfix">
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                        <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                    </ul>
                </div>
                <!-- person -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="/public/images/katta.jpg" alt="co founder image" class="img-responsive">
                    <div class="person-content">
                        <h4>Rahman Ok</h4>
                        <h5 class="role">Co-Founder</h5>
                        <p>Business analyst<br> +919481770762
                        </p>
                    </div>
                    <ul class="social-icons clearfix">
                        <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
                    </ul>
                </div>
                <!-- person -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="/public/images/aju.jpg" alt="manager image" class="img-responsive">
                    <div class="person-content">
                        <h4>Ajmal pk</h4>
                        <h5 class="role">Manager, Accountant</h5>
                        <p>Accounts manager<br>+919847871187.</p>
                    </div>
                    <ul class="social-icons clearfix">
                        <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
                    </ul>
                </div>
                <!-- person -->
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="person">
                    <img src="/public/images/fayis.jpg" alt="assistant manager image" class="img-responsive">
                    <div class="person-content">
                        <h4>Fayis ok</h4>
                        <h5 class="role">CAre TAker</h5>
                        <p>Product manager<br>+919902820676</p>
                    </div>
                    <ul class="social-icons clearfix">
                        <li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
                        <li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
                    </ul>
                </div>
                <!-- person -->
            </div>
        </div>
    </div>
</section>
<!-- teams -->


<!-- testimonials -->

<section id="download" class="section download">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h3>Are You Ready to Start the Deal? Contact us now</h3>
            <p>You will be directed to call one of our authority</p>
            <a href="tel:+919448520062" class="btn btn-large">Contact us</a>
        </div>
    </div>
</section>
<!-- download -->

<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h5>Location</h5>
                    <p>Keloth Huller propratory<br>Murnad, Kodagu ,KArnataka</p>
                </div>
                <div class="footer-col col-md-4">
                    <h5>Share with Love</h5>
                    <ul class="footer-share">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/kamal_chaneman"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/kamalchaneman"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h5>About ActiveBox</h5>
                    <p>We do financial businesses which include crops like coffiee pepper and ginger we provide you the best market possible.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- footer top -->
    <div class="footer-bottom">
        <div class="container">
            <div class="col-md-12">
                <p>Copyright © 2020 KelothHuller. All Rights Reserved<br>Made with <i class="fa fa-heart pulse"></i> by <a href="http://kamalchaneman.com/">Wide Technos</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- footer -->
