  <header id="header">
        <div class="header-content clearfix">
            <a class="logo" href="/"><img src="/public/images/keloth.png" alt=""></a>

        </div>
        <!-- header content -->
    </header>
    <!------ Include the above in your HEAD tag ---------->

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->

            <img src="https://img.icons8.com/dusk/100/000000/change-user-male.png" id="icon" alt="User Icon" />

            <!-- Login Form -->
            <form method="POST" autocomplete="off" action="/userLogin">

                <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="/attendanceList">Check Attendance</a>
            </div>

        </div>
    </div>
        <script src="js/main.js"></script>
