body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: rgb(49, 49, 49);
    margin-top: 40px;
    text-align: center;
    font-size: 32px;
}

.input-group {
    margin: 50px 0px;
}

.input-group input {
    height: 45px;
}

.btn-add {
    background-color: rgb(12, 187, 50);
    color: white;
}

.btn-remove {
    background-color: rgb(187, 12, 12);
    color: white;
}

ul {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

li {
    position: relative;
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

#header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

#header .header-content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
    max-width: 1170px;
    padding: 20px 0;
    width: 100%;
    -moz-transition: padding 0.3s;
    -o-transition: padding 0.3s;
    -webkit-transition: padding 0.3s;
    transition: padding 0.3s;
}

#header .logo {
    float: left;
}

#header.fixed {
    background-color: #292c47;
}

#header.fixed .header-content {
    border-bottom: 0;
    padding: 25px 0;
}

#header.fixed .nav-toggle {
    top: 18px;
}